In [1]:
import numpy as np
import pandas as pd

np.random.seed(seed=901212)

df = pd.DataFrame(range(1,501), columns=['indices'])
df['values'] = np.random.rand(500)*.5 + .35

In [2]:
df

     indices    values
0          1  0.491233
1          2  0.538596
2          3  0.516740
3          4  0.381134
4          5  0.670157
..       ...       ...
495      496  0.745895
496      497  0.661303
497      498  0.544403
498      499  0.534056
499      500  0.413121

[500 rows x 2 columns]

In [3]:
# tag rows based on the threshold
df['tag'] = df['values'] > .5

# first row is a True preceded by a False
fst = df.index[df['tag'] & ~ df['tag'].shift(1).fillna(False)]

# last row is a True followed by a False
lst = df.index[df['tag'] & ~ df['tag'].shift(-1).fillna(False)]

# filter those which are adequately apart
pr = [(i, j) for i, j in zip(fst, lst) if j > i + 4]

In [4]:
i, j = pr[0]
df.loc[i:j]

    indices    values   tag
15       16  0.639992  True
16       17  0.593427  True
17       18  0.810888  True
18       19  0.596243  True
19       20  0.812684  True
20       21  0.617945  True

In [5]:
df.loc[i-1:j+1]

    indices    values    tag
14       15  0.418698  False
15       16  0.639992   True
16       17  0.593427   True
17       18  0.810888   True
18       19  0.596243   True
19       20  0.812684   True
20       21  0.617945   True
21       22  0.494174  False

In [6]:
pr

[(15, 20),
 (24, 33),
 (37, 42),
 (47, 57),
 (70, 76),
 (119, 125),
 (147, 152),
 (211, 219),
 (259, 266),
 (275, 280),
 (289, 298),
 (303, 312),
 (360, 380),
 (382, 394),
 (412, 417)]

In [2]:
import yfinance as yf
from tqdm import tqdm
apple= yf.Ticker("aapl")

In [11]:
aapldf = apple.history(start="2007-01-01", end="2021-11-11", interval="1d")
aapldf.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2007-01-03,2.642215,2.651095,2.507793,2.565971,1238319600,0.0,0.0
2007-01-04,2.573626,2.631804,2.566583,2.622924,847260400,0.0,0.0
2007-01-05,2.626293,2.639459,2.584344,2.604246,834741600,0.0,0.0
2007-01-08,2.632111,2.649565,2.611289,2.617107,797106800,0.0,0.0
2007-01-09,2.647115,2.847065,2.607309,2.834511,3349298400,0.0,0.0

In [12]:
aapldf.drop(['Dividends','Stock Splits'],axis=1,inplace=True)

In [13]:
aapldf.head()

                Open      High       Low     Close      Volume
Date
2007-01-03  2.642215  2.651095  2.507793  2.565971  1238319600
2007-01-04  2.573626  2.631804  2.566583  2.622924   847260400
2007-01-05  2.626293  2.639459  2.584344  2.604246   834741600
2007-01-08  2.632111  2.649565  2.611289  2.617107   797106800
2007-01-09  2.647115  2.847065  2.607309  2.834511  3349298400

In [14]:
aapldf['change'] = aapldf['Close'].pct_change()

In [15]:
aapldf.tail()

                  Open        High         Low       Close    Volume    change
Date
2021-11-04  151.359097  152.207849  150.420465  150.740005  60394600 -0.003499
2021-11-05  151.889999  152.199997  150.059998  151.279999  65414600  0.003582
2021-11-08  151.410004  151.570007  150.160004  150.440002  55020900 -0.005553
2021-11-09  150.199997  151.429993  150.059998  150.809998  56787900  0.002459
2021-11-10  150.020004  150.130005  147.850006  147.919998  65187100 -0.019163

In [16]:
# tag rows based on the threshold
aapldf['tag'] = aapldf['change'] > 0

aapldf['nextdaychg'] = aapldf.shift(-1).change

# first row is a True preceded by a False
fst = aapldf.index[aapldf['tag'] & ~ aapldf['tag'].shift(1).fillna(False)]

# last row is a True followed by a False
lst = aapldf.index[aapldf['tag'] & ~ aapldf['tag'].shift(-1).fillna(False)]

# filter those which are adequately apart
pr = [(i, j,np.busday_count( i.strftime("%Y-%m-%d"), j.strftime("%Y-%m-%d") ),aapldf.loc[j].nextdaychg) for i, j in zip(fst, lst) if np.busday_count( i.strftime("%Y-%m-%d"), j.strftime("%Y-%m-%d") ) > 3]

In [17]:
len(pr)

85

In [18]:
np.mean([x[3] for x in pr])

-0.011304622087374136

In [19]:
for (i,j) in zip(fst, lst):
    print(i,j,np.busday_count( i.strftime("%Y-%m-%d"), j.strftime("%Y-%m-%d") ))

2007-01-04 00:00:00 2007-01-04 00:00:00 0
2007-01-08 00:00:00 2007-01-10 00:00:00 2
2007-01-16 00:00:00 2007-01-16 00:00:00 0
2007-01-24 00:00:00 2007-01-24 00:00:00 0
2007-01-29 00:00:00 2007-01-29 00:00:00 0
2007-01-31 00:00:00 2007-01-31 00:00:00 0
2007-02-02 00:00:00 2007-02-02 00:00:00 0
2007-02-06 00:00:00 2007-02-08 00:00:00 2
2007-02-12 00:00:00 2007-02-12 00:00:00 0
2007-02-14 00:00:00 2007-02-14 00:00:00 0
2007-02-20 00:00:00 2007-02-22 00:00:00 2
2007-02-28 00:00:00 2007-03-01 00:00:00 1
2007-03-05 00:00:00 2007-03-06 00:00:00 1
2007-03-08 00:00:00 2007-03-08 00:00:00 0
2007-03-12 00:00:00 2007-03-12 00:00:00 0
2007-03-14 00:00:00 2007-03-14 00:00:00 0
2007-03-16 00:00:00 2007-03-22 00:00:00 4
2007-03-26 00:00:00 2007-03-26 00:00:00 0
2007-03-29 00:00:00 2007-03-29 00:00:00 0
2007-04-02 00:00:00 2007-04-03 00:00:00 1
2007-04-05 00:00:00 2007-04-05 00:00:00 0
2007-04-10 00:00:00 2007-04-10 00:00:00 0
2007-04-16 00:00:00 2007-04-16 00:00:00 0
2007-04-18 00:00:00 2007-04-18 00:00:00 0
2007-04-20 00:00:00 2007-04-23 00:00:00 1
2007-04-25 00:00:00 2007-04-27 00:00:00 2
2007-05-02 00:00:00 2007-05-14 00:00:00 8
2007-05-17 00:00:00 2007-05-22 00:00:00 3
2007-05-25 00:00:00 2007-05-31 00:00:00 4
2007-06-04 00:00:00 2007-06-08 00:00:00 4
2007-06-12 00:00:00 2007-06-12 00:00:00 0
2007-06-14 00:00:00 2007-06-18 00:00:00 2
2007-06-21 00:00:00 2007-06-21 00:00:00 0
2007-06-27 00:00:00 2007-06-27 00:00:00 0
2007-06-29 00:00:00 2007-06-29 00:00:00 0
2007-07-03 00:00:00 2007-07-05 00:00:00 2
2007-07-10 00:00:00 2007-07-17 00:00:00 5
2007-07-19 00:00:00 2007-07-20 00:00:00 1
2007-07-25 00:00:00 2007-07-26 00:00:00 1
2007-08-01 00:00:00 2007-08-02 00:00:00 1
2007-08-06 00:00:00 2007-08-06 00:00:00 0
2007-08-13 00:00:00 2007-08-13 00:00:00 0
2007-08-17 00:00:00 2007-08-22 00:00:00 3
2007-08-24 00:00:00 2007-08-24 00:00:00 0
2007-08-29 00:00:00 2007-09-04 00:00:00 4
2007-09-10 00:00:00 2007-09-10 00:00:00 0
2007-09-12 00:00:00 2007-09-14 00:00:00 2
2007-09-18 00:00:00 2007-09-18 00:00:00 0
2007-09-21 00:00:00 2007-09-25 00:00:00 2
2007-09-27 00:00:00 2007-09-27 00:00:00 0
2007-10-01 00:00:00 2007-10-02 00:00:00 1
2007-10-05 00:00:00 2007-10-08 00:00:00 1
2007-10-12 00:00:00 2007-10-12 00:00:00 0
2007-10-16 00:00:00 2007-10-18 00:00:00 2
2007-10-22 00:00:00 2007-10-23 00:00:00 1
2007-10-26 00:00:00 2007-10-31 00:00:00 3
2007-11-02 00:00:00 2007-11-02 00:00:00 0
2007-11-06 00:00:00 2007-11-06 00:00:00 0
2007-11-13 00:00:00 2007-11-13 00:00:00 0
2007-11-16 00:00:00 2007-11-16 00:00:00 0
2007-11-20 00:00:00 2007-11-20 00:00:00 0
2007-11-23 00:00:00 2007-11-29 00:00:00 4
2007-12-04 00:00:00 2007-12-07 00:00:00 3
2007-12-12 00:00:00 2007-12-13 00:00:00 1
2007-12-19 00:00:00 2007-12-26 00:00:00 5
2007-12-28 00:00:00 2007-12-28 00:00:00 0
2008-01-03 00:00:00 2008-01-03 00:00:00 0
2008-01-09 00:00:00 2008-01-09 00:00:00 0
2008-01-14 00:00:00 2008-01-14 00:00:00 0
2008-01-17 00:00:00 2008-01-18 00:00:00 1
2008-01-29 00:00:00 2008-01-31 00:00:00 2
2008-02-08 00:00:00 2008-02-11 00:00:00 1
2008-02-13 00:00:00 2008-02-13 00:00:00 0
2008-02-20 00:00:00 2008-02-20 00:00:00 0
2008-02-25 00:00:00 2008-02-25 00:00:00 0
2008-02-27 00:00:00 2008-02-28 00:00:00 1
2008-03-04 00:00:00 2008-03-04 00:00:00 0
2008-03-07 00:00:00 2008-03-07 00:00:00 0
2008-03-11 00:00:00 2008-03-11 00:00:00 0
2008-03-13 00:00:00 2008-03-13 00:00:00 0
2008-03-17 00:00:00 2008-03-18 00:00:00 1
2008-03-20 00:00:00 2008-03-26 00:00:00 4
2008-03-28 00:00:00 2008-04-01 00:00:00 2
2008-04-03 00:00:00 2008-04-07 00:00:00 2
2008-04-10 00:00:00 2008-04-10 00:00:00 0
2008-04-14 00:00:00 2008-04-21 00:00:00 5
2008-04-23 00:00:00 2008-04-29 00:00:00 4
2008-05-01 00:00:00 2008-05-06 00:00:00 3
2008-05-08 00:00:00 2008-05-08 00:00:00 0
2008-05-12 00:00:00 2008-05-13 00:00:00 1
2008-05-15 00:00:00 2008-05-15 00:00:00 0
2008-05-20 00:00:00 2008-05-20 00:00:00 0
2008-05-23 00:00:00 2008-05-28 00:00:00 3
2008-05-30 00:00:00 2008-05-30 00:00:00 0
2008-06-05 00:00:00 2008-06-05 00:00:00 0
2008-06-10 00:00:00 2008-06-10 00:00:00 0
2008-06-16 00:00:00 2008-06-17 00:00:00 1
2008-06-19 00:00:00 2008-06-19 00:00:00 0
2008-06-24 00:00:00 2008-06-25 00:00:00 1
2008-06-27 00:00:00 2008-06-27 00:00:00 0
2008-07-01 00:00:00 2008-07-01 00:00:00 0
2008-07-03 00:00:00 2008-07-08 00:00:00 3
2008-07-10 00:00:00 2008-07-10 00:00:00 0
2008-07-14 00:00:00 2008-07-14 00:00:00 0
2008-07-16 00:00:00 2008-07-16 00:00:00 0
2008-07-21 00:00:00 2008-07-21 00:00:00 0
2008-07-23 00:00:00 2008-07-23 00:00:00 0
2008-07-25 00:00:00 2008-07-25 00:00:00 0
2008-07-29 00:00:00 2008-07-30 00:00:00 1
2008-08-05 00:00:00 2008-08-06 00:00:00 1
2008-08-08 00:00:00 2008-08-14 00:00:00 4
2008-08-20 00:00:00 2008-08-20 00:00:00 0
2008-08-22 00:00:00 2008-08-22 00:00:00 0
2008-08-26 00:00:00 2008-08-27 00:00:00 1
2008-09-03 00:00:00 2008-09-03 00:00:00 0
2008-09-11 00:00:00 2008-09-11 00:00:00 0
2008-09-18 00:00:00 2008-09-19 00:00:00 1
2008-09-24 00:00:00 2008-09-25 00:00:00 1
2008-09-30 00:00:00 2008-09-30 00:00:00 0
2008-10-06 00:00:00 2008-10-06 00:00:00 0
2008-10-08 00:00:00 2008-10-08 00:00:00 0
2008-10-10 00:00:00 2008-10-13 00:00:00 1
2008-10-16 00:00:00 2008-10-16 00:00:00 0
2008-10-20 00:00:00 2008-10-20 00:00:00 0
2008-10-22 00:00:00 2008-10-23 00:00:00 1
2008-10-28 00:00:00 2008-10-30 00:00:00 2
2008-11-04 00:00:00 2008-11-04 00:00:00 0
2008-11-13 00:00:00 2008-11-13 00:00:00 0
2008-11-18 00:00:00 2008-11-18 00:00:00 0
2008-11-21 00:00:00 2008-11-24 00:00:00 1
2008-11-26 00:00:00 2008-11-26 00:00:00 0
2008-12-02 00:00:00 2008-12-03 00:00:00 1
2008-12-05 00:00:00 2008-12-09 00:00:00 2
2008-12-12 00:00:00 2008-12-12 00:00:00 0
2008-12-16 00:00:00 2008-12-16 00:00:00 0
2008-12-18 00:00:00 2008-12-19 00:00:00 1
2008-12-23 00:00:00 2008-12-23 00:00:00 0
2008-12-26 00:00:00 2008-12-29 00:00:00 1
2009-01-02 00:00:00 2009-01-05 00:00:00 1
2009-01-08 00:00:00 2009-01-08 00:00:00 0
2009-01-21 00:00:00 2009-01-22 00:00:00 1
2009-01-26 00:00:00 2009-01-28 00:00:00 2
2009-02-02 00:00:00 2009-02-09 00:00:00 5
2009-02-12 00:00:00 2009-02-12 00:00:00 0
2009-02-20 00:00:00 2009-02-20 00:00:00 0
2009-02-24 00:00:00 2009-02-25 00:00:00 1
2009-02-27 00:00:00 2009-02-27 00:00:00 0
2009-03-03 00:00:00 2009-03-04 00:00:00 1
2009-03-10 00:00:00 2009-03-12 00:00:00 2
2009-03-17 00:00:00 2009-03-19 00:00:00 2
2009-03-23 00:00:00 2009-03-23 00:00:00 0
2009-03-26 00:00:00 2009-03-26 00:00:00 0
2009-03-31 00:00:00 2009-04-06 00:00:00 4
2009-04-08 00:00:00 2009-04-13 00:00:00 3
2009-04-16 00:00:00 2009-04-17 00:00:00 1
2009-04-21 00:00:00 2009-04-21 00:00:00 0
2009-04-23 00:00:00 2009-04-23 00:00:00 0
2009-04-27 00:00:00 2009-04-27 00:00:00 0
2009-04-29 00:00:00 2009-05-05 00:00:00 4
2009-05-08 00:00:00 2009-05-11 00:00:00 1
2009-05-14 00:00:00 2009-05-14 00:00:00 0
2009-05-18 00:00:00 2009-05-19 00:00:00 1
2009-05-26 00:00:00 2009-06-05 00:00:00 8
2009-06-16 00:00:00 2009-06-16 00:00:00 0
2009-06-18 00:00:00 2009-06-19 00:00:00 1
2009-06-24 00:00:00 2009-06-26 00:00:00 2
2009-06-30 00:00:00 2009-07-01 00:00:00 1
2009-07-08 00:00:00 2009-07-08 00:00:00 0
2009-07-10 00:00:00 2009-07-13 00:00:00 1
2009-07-15 00:00:00 2009-07-20 00:00:00 3
2009-07-22 00:00:00 2009-07-27 00:00:00 3
2009-07-29 00:00:00 2009-08-03 00:00:00 3
2009-08-07 00:00:00 2009-08-07 00:00:00 0
2009-08-12 00:00:00 2009-08-13 00:00:00 1
2009-08-18 00:00:00 2009-08-21 00:00:00 3
2009-08-25 00:00:00 2009-08-25 00:00:00 0
2009-08-27 00:00:00 2009-08-28 00:00:00 1
2009-09-03 00:00:00 2009-09-08 00:00:00 3
2009-09-10 00:00:00 2009-09-10 00:00:00 0
2009-09-14 00:00:00 2009-09-18 00:00:00 4
2009-09-22 00:00:00 2009-09-23 00:00:00 1
2009-09-28 00:00:00 2009-09-28 00:00:00 0
2009-10-02 00:00:00 2009-10-07 00:00:00 3
2009-10-09 00:00:00 2009-10-12 00:00:00 1
2009-10-14 00:00:00 2009-10-14 00:00:00 0
2009-10-19 00:00:00 2009-10-22 00:00:00 3
2009-10-29 00:00:00 2009-10-29 00:00:00 0
2009-11-02 00:00:00 2009-11-02 00:00:00 0
2009-11-04 00:00:00 2009-11-11 00:00:00 5
2009-11-13 00:00:00 2009-11-17 00:00:00 2
2009-11-23 00:00:00 2009-11-23 00:00:00 0
2009-12-03 00:00:00 2009-12-03 00:00:00 0
2009-12-08 00:00:00 2009-12-09 00:00:00 1
2009-12-14 00:00:00 2009-12-14 00:00:00 0
2009-12-16 00:00:00 2009-12-16 00:00:00 0
2009-12-18 00:00:00 2009-12-28 00:00:00 6
2009-12-30 00:00:00 2009-12-30 00:00:00 0
2010-01-04 00:00:00 2010-01-05 00:00:00 1
2010-01-08 00:00:00 2010-01-08 00:00:00 0
2010-01-13 00:00:00 2010-01-13 00:00:00 0
2010-01-19 00:00:00 2010-01-19 00:00:00 0
2010-01-25 00:00:00 2010-01-27 00:00:00 2
2010-02-01 00:00:00 2010-02-03 00:00:00 2
2010-02-05 00:00:00 2010-02-05 00:00:00 0
2010-02-09 00:00:00 2010-02-09 00:00:00 0
2010-02-11 00:00:00 2010-02-16 00:00:00 3
2010-02-18 00:00:00 2010-02-18 00:00:00 0
2010-02-24 00:00:00 2010-03-01 00:00:00 3
2010-03-03 00:00:00 2010-03-12 00:00:00 7
2010-03-16 00:00:00 2010-03-16 00:00:00 0
2010-03-18 00:00:00 2010-03-18 00:00:00 0
2010-03-22 00:00:00 2010-03-24 00:00:00 2
2010-03-26 00:00:00 2010-03-30 00:00:00 2
2010-04-01 00:00:00 2010-04-07 00:00:00 4
2010-04-09 00:00:00 2010-04-15 00:00:00 4
2010-04-21 00:00:00 2010-04-23 00:00:00 2
2010-04-29 00:00:00 2010-04-29 00:00:00 0
2010-05-03 00:00:00 2010-05-03 00:00:00 0
2010-05-10 00:00:00 2010-05-12 00:00:00 2
2010-05-17 00:00:00 2010-05-17 00:00:00 0
2010-05-21 00:00:00 2010-05-24 00:00:00 1
2010-05-27 00:00:00 2010-06-02 00:00:00 4
2010-06-10 00:00:00 2010-06-18 00:00:00 6
2010-06-22 00:00:00 2010-06-22 00:00:00 0
2010-06-28 00:00:00 2010-06-28 00:00:00 0
2010-07-06 00:00:00 2010-07-07 00:00:00 1
2010-07-09 00:00:00 2010-07-09 00:00:00 0
2010-07-14 00:00:00 2010-07-14 00:00:00 0
2010-07-20 00:00:00 2010-07-23 00:00:00 3
2010-07-27 00:00:00 2010-07-27 00:00:00 0
2010-08-02 00:00:00 2010-08-04 00:00:00 2
2010-08-09 00:00:00 2010-08-09 00:00:00 0
2010-08-12 00:00:00 2010-08-12 00:00:00 0
2010-08-17 00:00:00 2010-08-18 00:00:00 1
2010-08-25 00:00:00 2010-08-25 00:00:00 0
2010-08-27 00:00:00 2010-09-03 00:00:00 5
2010-09-08 00:00:00 2010-09-16 00:00:00 6
2010-09-20 00:00:00 2010-09-24 00:00:00 4
2010-09-29 00:00:00 2010-09-29 00:00:00 0
2010-10-05 00:00:00 2010-10-18 00:00:00 9
2010-10-20 00:00:00 2010-10-20 00:00:00 0
2010-10-25 00:00:00 2010-10-25 00:00:00 0
2010-11-01 00:00:00 2010-11-04 00:00:00 3
2010-11-08 00:00:00 2010-11-08 00:00:00 0
2010-11-10 00:00:00 2010-11-10 00:00:00 0
2010-11-18 00:00:00 2010-11-18 00:00:00 0
2010-11-22 00:00:00 2010-11-22 00:00:00 0
2010-11-24 00:00:00 2010-11-29 00:00:00 3
2010-12-01 00:00:00 2010-12-02 00:00:00 1
2010-12-06 00:00:00 2010-12-06 00:00:00 0
2010-12-08 00:00:00 2010-12-08 00:00:00 0
2010-12-10 00:00:00 2010-12-13 00:00:00 1
2010-12-15 00:00:00 2010-12-16 00:00:00 1
2010-12-20 00:00:00 2010-12-22 00:00:00 2
2010-12-27 00:00:00 2010-12-28 00:00:00 1
2011-01-03 00:00:00 2011-01-05 00:00:00 2
2011-01-07 00:00:00 2011-01-10 00:00:00 1
2011-01-12 00:00:00 2011-01-14 00:00:00 2
2011-01-24 00:00:00 2011-01-26 00:00:00 2
2011-01-31 00:00:00 2011-02-01 00:00:00 1
2011-02-04 00:00:00 2011-02-09 00:00:00 3
2011-02-11 00:00:00 2011-02-16 00:00:00 3
2011-02-23 00:00:00 2011-02-28 00:00:00 3
2011-03-02 00:00:00 2011-03-04 00:00:00 2
2011-03-08 00:00:00 2011-03-08 00:00:00 0
2011-03-11 00:00:00 2011-03-14 00:00:00 1
2011-03-17 00:00:00 2011-03-17 00:00:00 0
2011-03-21 00:00:00 2011-03-22 00:00:00 1
2011-03-24 00:00:00 2011-03-25 00:00:00 1
2011-03-29 00:00:00 2011-03-29 00:00:00 0
2011-04-07 00:00:00 2011-04-07 00:00:00 0
2011-04-12 00:00:00 2011-04-13 00:00:00 1
2011-04-18 00:00:00 2011-04-25 00:00:00 5
2011-04-29 00:00:00 2011-04-29 00:00:00 0
2011-05-03 00:00:00 2011-05-04 00:00:00 1
2011-05-09 00:00:00 2011-05-10 00:00:00 1
2011-05-17 00:00:00 2011-05-19 00:00:00 2
2011-05-25 00:00:00 2011-05-25 00:00:00 0
2011-05-27 00:00:00 2011-05-31 00:00:00 2
2011-06-02 00:00:00 2011-06-02 00:00:00 0
2011-06-08 00:00:00 2011-06-08 00:00:00 0
2011-06-13 00:00:00 2011-06-14 00:00:00 1
2011-06-21 00:00:00 2011-06-21 00:00:00 0
2011-06-23 00:00:00 2011-06-23 00:00:00 0
2011-06-27 00:00:00 2011-06-28 00:00:00 1
2011-06-30 00:00:00 2011-07-08 00:00:00 6
2011-07-13 00:00:00 2011-07-13 00:00:00 0
2011-07-15 00:00:00 2011-07-26 00:00:00 7
2011-08-01 00:00:00 2011-08-01 00:00:00 0
2011-08-03 00:00:00 2011-08-03 00:00:00 0
2011-08-09 00:00:00 2011-08-09 00:00:00 0
2011-08-11 00:00:00 2011-08-15 00:00:00 2
2011-08-22 00:00:00 2011-08-24 00:00:00 2
2011-08-26 00:00:00 2011-08-30 00:00:00 2
2011-09-06 00:00:00 2011-09-08 00:00:00 2
2011-09-12 00:00:00 2011-09-20 00:00:00 6
2011-09-23 00:00:00 2011-09-23 00:00:00 0
2011-10-05 00:00:00 2011-10-05 00:00:00 0
2011-10-10 00:00:00 2011-10-14 00:00:00 4
2011-10-18 00:00:00 2011-10-18 00:00:00 0
2011-10-24 00:00:00 2011-10-24 00:00:00 0
2011-10-26 00:00:00 2011-10-28 00:00:00 2
2011-11-02 00:00:00 2011-11-03 00:00:00 1
2011-11-08 00:00:00 2011-11-08 00:00:00 0
2011-11-15 00:00:00 2011-11-15 00:00:00 0
2011-11-22 00:00:00 2011-11-22 00:00:00 0
2011-11-28 00:00:00 2011-11-28 00:00:00 0
2011-11-30 00:00:00 2011-12-05 00:00:00 3
2011-12-08 00:00:00 2011-12-09 00:00:00 1
2011-12-16 00:00:00 2011-12-27 00:00:00 7
2011-12-29 00:00:00 2011-12-29 00:00:00 0
2012-01-03 00:00:00 2012-01-06 00:00:00 3
2012-01-10 00:00:00 2012-01-10 00:00:00 0
2012-01-17 00:00:00 2012-01-18 00:00:00 1
2012-01-23 00:00:00 2012-01-23 00:00:00 0
2012-01-25 00:00:00 2012-01-25 00:00:00 0
2012-01-27 00:00:00 2012-01-31 00:00:00 2
2012-02-03 00:00:00 2012-02-14 00:00:00 7
2012-02-16 00:00:00 2012-02-16 00:00:00 0
2012-02-21 00:00:00 2012-02-21 00:00:00 0
2012-02-23 00:00:00 2012-03-02 00:00:00 6
2012-03-07 00:00:00 2012-03-14 00:00:00 5
2012-03-16 00:00:00 2012-03-20 00:00:00 2
2012-03-26 00:00:00 2012-03-28 00:00:00 2
2012-04-02 00:00:00 2012-04-03 00:00:00 1
2012-04-05 00:00:00 2012-04-09 00:00:00 2
2012-04-17 00:00:00 2012-04-17 00:00:00 0
2012-04-25 00:00:00 2012-04-25 00:00:00 0
2012-05-02 00:00:00 2012-05-02 00:00:00 0
2012-05-07 00:00:00 2012-05-07 00:00:00 0
2012-05-09 00:00:00 2012-05-10 00:00:00 1
2012-05-18 00:00:00 2012-05-21 00:00:00 1
2012-05-23 00:00:00 2012-05-23 00:00:00 0
2012-05-29 00:00:00 2012-05-30 00:00:00 1
2012-06-04 00:00:00 2012-06-04 00:00:00 0
2012-06-06 00:00:00 2012-06-08 00:00:00 2
2012-06-12 00:00:00 2012-06-12 00:00:00 0
2012-06-15 00:00:00 2012-06-19 00:00:00 2
2012-06-22 00:00:00 2012-06-22 00:00:00 0
2012-06-26 00:00:00 2012-06-27 00:00:00 1
2012-06-29 00:00:00 2012-07-05 00:00:00 4
2012-07-09 00:00:00 2012-07-09 00:00:00 0
2012-07-13 00:00:00 2012-07-17 00:00:00 2
2012-07-19 00:00:00 2012-07-19 00:00:00 0
2012-07-27 00:00:00 2012-07-31 00:00:00 2
2012-08-02 00:00:00 2012-08-06 00:00:00 2
2012-08-09 00:00:00 2012-08-14 00:00:00 3
2012-08-16 00:00:00 2012-08-20 00:00:00 2
2012-08-22 00:00:00 2012-08-22 00:00:00 0
2012-08-24 00:00:00 2012-08-27 00:00:00 1
2012-08-31 00:00:00 2012-09-04 00:00:00 2
2012-09-06 00:00:00 2012-09-07 00:00:00 1
2012-09-12 00:00:00 2012-09-19 00:00:00 5
2012-09-21 00:00:00 2012-09-21 00:00:00 0
2012-09-27 00:00:00 2012-09-27 00:00:00 0
2012-10-02 00:00:00 2012-10-03 00:00:00 1
2012-10-10 00:00:00 2012-10-10 00:00:00 0
2012-10-12 00:00:00 2012-10-16 00:00:00 2
2012-10-22 00:00:00 2012-10-22 00:00:00 0
2012-10-24 00:00:00 2012-10-24 00:00:00 0
2012-11-01 00:00:00 2012-11-01 00:00:00 0
2012-11-05 00:00:00 2012-11-05 00:00:00 0
2012-11-09 00:00:00 2012-11-09 00:00:00 0
2012-11-13 00:00:00 2012-11-13 00:00:00 0
2012-11-16 00:00:00 2012-11-19 00:00:00 1
2012-11-21 00:00:00 2012-11-26 00:00:00 3
2012-11-29 00:00:00 2012-11-29 00:00:00 0
2012-12-03 00:00:00 2012-12-03 00:00:00 0
2012-12-06 00:00:00 2012-12-06 00:00:00 0
2012-12-11 00:00:00 2012-12-11 00:00:00 0
2012-12-17 00:00:00 2012-12-18 00:00:00 1
2012-12-24 00:00:00 2012-12-24 00:00:00 0
2012-12-27 00:00:00 2012-12-27 00:00:00 0
2012-12-31 00:00:00 2013-01-02 00:00:00 2
2013-01-08 00:00:00 2013-01-08 00:00:00 0
2013-01-10 00:00:00 2013-01-10 00:00:00 0
2013-01-16 00:00:00 2013-01-16 00:00:00 0
2013-01-22 00:00:00 2013-01-23 00:00:00 1
2013-01-28 00:00:00 2013-01-29 00:00:00 1
2013-02-05 00:00:00 2013-02-05 00:00:00 0
2013-02-07 00:00:00 2013-02-11 00:00:00 2
2013-02-22 00:00:00 2013-02-22 00:00:00 0
2013-02-26 00:00:00 2013-02-26 00:00:00 0
2013-03-05 00:00:00 2013-03-05 00:00:00 0
2013-03-07 00:00:00 2013-03-11 00:00:00 2
2013-03-14 00:00:00 2013-03-18 00:00:00 2
2013-03-21 00:00:00 2013-03-25 00:00:00 2
2013-04-02 00:00:00 2013-04-03 00:00:00 1
2013-04-08 00:00:00 2013-04-10 00:00:00 2
2013-04-16 00:00:00 2013-04-16 00:00:00 0
2013-04-22 00:00:00 2013-04-23 00:00:00 1
2013-04-25 00:00:00 2013-04-30 00:00:00 3
2013-05-02 00:00:00 2013-05-06 00:00:00 2
2013-05-08 00:00:00 2013-05-08 00:00:00 0
2013-05-13 00:00:00 2013-05-13 00:00:00 0
2013-05-16 00:00:00 2013-05-16 00:00:00 0
2013-05-20 00:00:00 2013-05-20 00:00:00 0
2013-05-22 00:00:00 2013-05-24 00:00:00 2
2013-05-29 00:00:00 2013-05-30 00:00:00 1
2013-06-03 00:00:00 2013-06-03 00:00:00 0
2013-06-07 00:00:00 2013-06-07 00:00:00 0
2013-06-13 00:00:00 2013-06-13 00:00:00 0
2013-06-17 00:00:00 2013-06-17 00:00:00 0
2013-06-25 00:00:00 2013-06-25 00:00:00 0
2013-06-28 00:00:00 2013-07-03 00:00:00 3
2013-07-09 00:00:00 2013-07-09 00:00:00 0
2013-07-11 00:00:00 2013-07-11 00:00:00 0
2013-07-15 00:00:00 2013-07-18 00:00:00 3
2013-07-22 00:00:00 2013-07-22 00:00:00 0
2013-07-24 00:00:00 2013-07-24 00:00:00 0
2013-07-26 00:00:00 2013-07-30 00:00:00 2
2013-08-01 00:00:00 2013-08-05 00:00:00 2
2013-08-12 00:00:00 2013-08-14 00:00:00 2
2013-08-16 00:00:00 2013-08-19 00:00:00 1
2013-08-21 00:00:00 2013-08-22 00:00:00 1
2013-08-26 00:00:00 2013-08-26 00:00:00 0
2013-08-28 00:00:00 2013-08-29 00:00:00 1
2013-09-03 00:00:00 2013-09-04 00:00:00 1
2013-09-06 00:00:00 2013-09-09 00:00:00 1
2013-09-12 00:00:00 2013-09-12 00:00:00 0
2013-09-17 00:00:00 2013-09-19 00:00:00 2
2013-09-23 00:00:00 2013-09-23 00:00:00 0
2013-09-26 00:00:00 2013-09-26 00:00:00 0
2013-10-01 00:00:00 2013-10-02 00:00:00 1
2013-10-07 00:00:00 2013-10-07 00:00:00 0
2013-10-09 00:00:00 2013-10-21 00:00:00 8
2013-10-23 00:00:00 2013-10-24 00:00:00 1
2013-10-28 00:00:00 2013-10-28 00:00:00 0
2013-10-30 00:00:00 2013-10-30 00:00:00 0
2013-11-04 00:00:00 2013-11-04 00:00:00 0
2013-11-08 00:00:00 2013-11-08 00:00:00 0
2013-11-12 00:00:00 2013-11-14 00:00:00 2
2013-11-19 00:00:00 2013-11-19 00:00:00 0
2013-11-21 00:00:00 2013-11-21 00:00:00 0
2013-11-25 00:00:00 2013-11-29 00:00:00 4
2013-12-03 00:00:00 2013-12-03 00:00:00 0
2013-12-05 00:00:00 2013-12-05 00:00:00 0
2013-12-09 00:00:00 2013-12-09 00:00:00 0
2013-12-16 00:00:00 2013-12-16 00:00:00 0
2013-12-20 00:00:00 2013-12-23 00:00:00 1
2013-12-31 00:00:00 2013-12-31 00:00:00 0
2014-01-06 00:00:00 2014-01-06 00:00:00 0
2014-01-08 00:00:00 2014-01-08 00:00:00 0
2014-01-13 00:00:00 2014-01-15 00:00:00 2
2014-01-21 00:00:00 2014-01-23 00:00:00 2
2014-01-27 00:00:00 2014-01-27 00:00:00 0
2014-01-31 00:00:00 2014-02-11 00:00:00 7
2014-02-13 00:00:00 2014-02-13 00:00:00 0
2014-02-18 00:00:00 2014-02-18 00:00:00 0
2014-02-24 00:00:00 2014-02-24 00:00:00 0
2014-02-27 00:00:00 2014-02-27 00:00:00 0
2014-03-03 00:00:00 2014-03-05 00:00:00 2
2014-03-10 00:00:00 2014-03-12 00:00:00 2
2014-03-17 00:00:00 2014-03-18 00:00:00 1
2014-03-21 00:00:00 2014-03-25 00:00:00 2
2014-04-01 00:00:00 2014-04-02 00:00:00 1
2014-04-09 00:00:00 2014-04-09 00:00:00 0
2014-04-14 00:00:00 2014-04-14 00:00:00 0
2014-04-16 00:00:00 2014-04-22 00:00:00 4
2014-04-24 00:00:00 2014-04-28 00:00:00 2
2014-05-01 00:00:00 2014-05-05 00:00:00 2
2014-05-12 00:00:00 2014-05-14 00:00:00 2
2014-05-16 00:00:00 2014-05-27 00:00:00 7
2014-05-29 00:00:00 2014-05-29 00:00:00 0
2014-06-03 00:00:00 2014-06-05 00:00:00 2
2014-06-09 00:00:00 2014-06-10 00:00:00 1
2014-06-16 00:00:00 2014-06-16 00:00:00 0
2014-06-18 00:00:00 2014-06-18 00:00:00 0
2014-06-25 00:00:00 2014-07-01 00:00:00 4
2014-07-03 00:00:00 2014-07-07 00:00:00 2
2014-07-09 00:00:00 2014-07-09 00:00:00 0
2014-07-11 00:00:00 2014-07-14 00:00:00 1
2014-07-18 00:00:00 2014-07-18 00:00:00 0
2014-07-22 00:00:00 2014-07-23 00:00:00 1
2014-07-25 00:00:00 2014-07-28 00:00:00 1
2014-08-01 00:00:00 2014-08-01 00:00:00 0

In [35]:
pr

[(Timestamp('2020-04-08 00:00:00'), Timestamp('2020-04-14 00:00:00'), 4),
 (Timestamp('2020-05-04 00:00:00'), Timestamp('2020-05-11 00:00:00'), 5),
 (Timestamp('2020-07-29 00:00:00'), Timestamp('2020-08-06 00:00:00'), 6),
 (Timestamp('2020-08-18 00:00:00'), Timestamp('2020-08-24 00:00:00'), 4)]

In [20]:
fullpr = [(i, j,np.busday_count( i.strftime("%Y-%m-%d"), j.strftime("%Y-%m-%d") ),aapldf.loc[j].nextdaychg) for i, j in zip(fst, lst) if np.busday_count( i.strftime("%Y-%m-%d"), j.strftime("%Y-%m-%d") ) >= 0]

In [21]:
np.mean([x[2] for x in fullpr])

1.1478352692713834

In [22]:
np.max([x[2] for x in fullpr])

9

In [23]:
index_max = np.argmax([x[2] for x in fullpr])

In [25]:
fullpr[index_max]

(Timestamp('2010-10-05 00:00:00'),
 Timestamp('2010-10-18 00:00:00'),
 9,
 -0.02676104798205481)

In [10]:
from operator import itemgetter
res = max(pr, key=itemgetter(2))

In [39]:
res[2]

6

In [11]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
day1 = '2010-01-01'
day2 = '2010-01-15'
us_bd = CustomBusinessDay(calendar=USFederalHolidayCalendar())

In [42]:
print(len(pd.date_range(start=day1,end=day2, freq=us_bd)))

10

In [20]:
for (i,j) in zip(fst, lst):
    print(i,j,np.busday_count( i.strftime("%Y-%m-%d"), j.strftime("%Y-%m-%d") ),aapldf.loc[j].nextdaychg)

2020-01-06 00:00:00 2020-01-06 00:00:00 0 -0.004703000665092549
2020-01-08 00:00:00 2020-01-13 00:00:00 3 -0.013503269952068742
2020-01-16 00:00:00 2020-01-17 00:00:00 1 -0.006776902114863148
2020-01-22 00:00:00 2020-01-23 00:00:00 1 -0.002882029959404564
2020-01-28 00:00:00 2020-01-29 00:00:00 1 -0.0014490551251076234
2020-02-04 00:00:00 2020-02-06 00:00:00 2 -0.013592710214904047
2020-02-10 00:00:00 2020-02-10 00:00:00 0 -0.006033352613494691
2020-02-12 00:00:00 2020-02-12 00:00:00 0 -0.007121093631789588
2020-02-14 00:00:00 2020-02-14 00:00:00 0 -0.018310575066055934
2020-02-19 00:00:00 2020-02-19 00:00:00 0 -0.01025905968123808
2020-02-26 00:00:00 2020-02-26 00:00:00 0 -0.06536814612001485
2020-03-02 00:00:00 2020-03-02 00:00:00 0 -0.031759145544189904
2020-03-04 00:00:00 2020-03-04 00:00:00 0 -0.03243702633876211
2020-03-10 00:00:00 2020-03-10 00:00:00 0 -0.03473056555561849
2020-03-13 00:00:00 2020-03-13 00:00:00 0 -0.1286469204248718
2020-03-17 00:00:00 2020-03-17 00:00:00 0 -0.0244799766647803
2020-03-24 00:00:00 2020-03-24 00:00:00 0 -0.005508788581822022
2020-03-26 00:00:00 2020-03-26 00:00:00 0 -0.041402348615147355
2020-03-30 00:00:00 2020-03-30 00:00:00 0 -0.0020407031399819475
2020-04-02 00:00:00 2020-04-02 00:00:00 0 -0.014371460288679527
2020-04-06 00:00:00 2020-04-06 00:00:00 0 -0.011582276536882152
2020-04-08 00:00:00 2020-04-14 00:00:00 4 -0.009127298831732245
2020-04-16 00:00:00 2020-04-16 00:00:00 0 -0.01356870456536996
2020-04-22 00:00:00 2020-04-22 00:00:00 0 -0.003875388452066364
2020-04-24 00:00:00 2020-04-27 00:00:00 1 -0.01620943986333534
2020-04-29 00:00:00 2020-04-30 00:00:00 1 -0.016099385974577496
2020-05-04 00:00:00 2020-05-11 00:00:00 5 -0.011428161033883999
2020-05-14 00:00:00 2020-05-14 00:00:00 0 -0.005912046043201835
2020-05-18 00:00:00 2020-05-18 00:00:00 0 -0.005778373474597309
2020-05-20 00:00:00 2020-05-20 00:00:00 0 -0.007455488822082024
2020-05-22 00:00:00 2020-05-22 00:00:00 0 -0.006773543413013727
2020-05-27 00:00:00 2020-05-28 00:00:00 1 -0.0009740003671594444
2020-06-01 00:00:00 2020-06-03 00:00:00 2 -0.00861217950345472
2020-06-05 00:00:00 2020-06-10 00:00:00 3 -0.04801044133585053
2020-06-12 00:00:00 2020-06-16 00:00:00 2 -0.0013916925497862165
2020-06-18 00:00:00 2020-06-18 00:00:00 0 -0.005714685052586099
2020-06-22 00:00:00 2020-06-23 00:00:00 1 -0.01765200116541732
2020-06-25 00:00:00 2020-06-25 00:00:00 0 -0.030725782522082024
2020-06-29 00:00:00 2020-06-30 00:00:00 1 -0.0018914283741241489
2020-07-06 00:00:00 2020-07-06 00:00:00 0 -0.003102810381420351
2020-07-08 00:00:00 2020-07-10 00:00:00 2 -0.004613221295416747
2020-07-14 00:00:00 2020-07-15 00:00:00 1 -0.012304983326239638
2020-07-20 00:00:00 2020-07-20 00:00:00 0 -0.01380169204190751
2020-07-22 00:00:00 2020-07-22 00:00:00 0 -0.045516472973668454
2020-07-27 00:00:00 2020-07-27 00:00:00 0 -0.01642749406065669
2020-07-29 00:00:00 2020-08-06 00:00:00 6 -0.02273575967724739
2020-08-10 00:00:00 2020-08-10 00:00:00 0 -0.029739867275506704
2020-08-12 00:00:00 2020-08-13 00:00:00 1 -0.0008912347937002352
2020-08-18 00:00:00 2020-08-24 00:00:00 4 -0.00820373228234006
2020-08-26 00:00:00 2020-08-26 00:00:00 0 -0.011954371429482857
2020-08-31 00:00:00 2020-09-01 00:00:00 1 -0.02071842995262474
2020-09-04 00:00:00 2020-09-04 00:00:00 0 -0.0672949690084228
2020-09-09 00:00:00 2020-09-09 00:00:00 0 -0.03264577089172682
2020-09-14 00:00:00 2020-09-15 00:00:00 1 -0.029513619829399818
2020-09-21 00:00:00 2020-09-22 00:00:00 1 -0.0419461131778841
2020-09-24 00:00:00 2020-09-28 00:00:00 2 -0.007567873638749334
2020-09-30 00:00:00 2020-10-01 00:00:00 1 -0.032280197302059555
2020-10-05 00:00:00 2020-10-05 00:00:00 0 -0.028669496462580435
2020-10-07 00:00:00 2020-10-07 00:00:00 0 -0.0009558620837792908
2020-10-09 00:00:00 2020-10-12 00:00:00 1 -0.026527355396143704
2020-10-14 00:00:00 2020-10-14 00:00:00 0 -0.00396075045188371
2020-10-20 00:00:00 2020-10-20 00:00:00 0 nan

In [15]:
aapldf.tail(10)

,Open,High,Low,Close,Volume,change,tag
Date,,,,,,,
2020-10-07,114.620003,115.550003,114.129997,115.080002,96849000,0.016967,True
2020-10-08,116.250000,116.400002,114.589996,114.970001,83477200,-0.000956,False
2020-10-09,115.279999,117.000000,114.919998,116.970001,100506900,0.017396,True
2020-10-12,120.059998,125.180000,119.279999,124.400002,240226800,0.063521,True
2020-10-13,125.269997,125.389999,119.650002,121.099998,262330500,-0.026527,False
2020-10-14,121.000000,123.029999,119.620003,121.190002,151062300,0.000743,True
2020-10-15,118.720001,121.199997,118.150002,120.709999,112559200,-0.003961,False
2020-10-16,121.279999,121.550003,118.809998,119.019997,115393800,-0.014001,False
2020-10-19,119.959999,120.419998,115.660004,115.980003,120639300,-0.025542,False
2020-10-20,116.199997,118.980003,115.629997,117.510002,124423700,0.013192,True